<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/static/style.css">
</head>

<div class="fullscreen nopadding">
  <div id="header">
    <img src="/static/stevens.png" width="100px" height="100px" />
    <ul>
      <li style="font-size: 25px; margin-top: 15px"><a href="http://127.0.0.1:5000/index.html">Home</a></li>
      <li style="font-size: 25px; margin-top: 15px"><a href="form.html">Forms</li>
      <li style="font-size: 25px; margin-top: 15px"><a href="map.html">COVID Map</li>
    </ul>
  </div>
  <div class="header">
    <h1 style="color:#000000; line-height: 0%; font-size: 100px">COVID Hotspot Tracker</h1>
    <h1 style="color:#000000;  background: rgba(255,255,255,.6); line-height: 100%; font-size: 30px; margin-bottom: 250px">Our goal is to relieve our family, friends and neighbors from this suffering. While this solution may not cure coronavirus, it is a step towards limiting the contraction of the virus, giving people the normality in their lives and providing relief to frontline workers.
</h1>
  </div>
</div>

<div class="white nopadding more">
  <a id="more">&#x25BC; More &#x25BC;</a>
</div>

<div class="white">
  <a id="test"></a>
  <h1>Background</h1>
  <img class="floatleft" src="/static/covidpic.jpg" />
  <p style="color:#eeeeec">  something</p>
  <p>Since the first case of COVID-19, there have been approximately 4.7 Million cases around the world and thousands more every day. The majority of the attention has been given to curing COVID patients; however, the root of the problem is the speed at which the virus spreads, inflicting tens thousands more every day. With many countries reopening businesses, it’s vital to prevent a second wave by giving citizens the information to travel safely. Our world lacks contact tracing technology and as a result, has left us with approximately 300,000 deaths.</p>
</div>

<div class = "red">
	<h1>Problem</h1>
	<img class="floatleft" src="/static/cough.jpeg" />
	<p style="color:#FF8080">  something</p>
	<p>
		COVID-19 can be easily transmitted through human contact, or by touching already COVID contaminated objects, and lasts for a longest period of 5 days on inanimate objects. Since the virus may take days to develop symptoms, people are roaming in public and contaminating public surfaces at stores and restaurants, which increases the risk of others coming in contact with COVID-19. 
	</p>
</div>

<div class="white">
	<h1>Solution</h1>
	<img style="float: left;margin-right: 50px;margin-bottom: 20px; height: 250px; width:250px" src="/static/nmap.jpg" />
  	<p style="color:#eeeeec">  something</p>
  	<p>Our solution is to provide a platform to self-report the locations that people have traveled prior to testing positive for COVID-19. They would enter the addresses of the locations they traveled and we then save this data and display it on an interactive map. This would act as a guide for people leaving their homes where they can avoid red zones or take extra precautions.</p>
</div>

<div class = "blue">
	<h1>Extended Applications</h1>
	<img style="float: left;margin-right: 50px;margin-bottom: 20px; height: 250px; width:250px" src="/static/campusmap.png" />
	<p style="color:#8FC5FC">  something</p>
	<p>This website can be extended to the use of Universities and work campuses where they can supply a detailed map to us, and we can incorporate it in our website so workers and students can use it.</p>
</div>

<div class="dark">
  <p>This website was made by Avaneesh Kolluri, Akhilesh Reddy, and Ahilan Subbaian. </p>
  <p><a href="https://www.cdc.gov/coronavirus/2019-ncov/index.html" style="color:#FFFFFF">Click on me for more information about COVID-19!</a></p>
</div>



</html>